		<div class="index_top">
			<!--登录注册条-->
			<div class="index_top_left">欢迎来到无价宝官网</div>
			<div class="index_top_center">
				<a href="{:url('Index/index/login')}">登录 </a>/<a href="{:url('Index/index/reg')}">&nbsp;注册</a>
			</div>
			<div class="index_top_购物车" style="float:left;margin-top:1px;">
						<img src="__STATIC__/images/gowuche.png" style="width:23px;height:23px;">
			</div>
			<div class="index_top_bottom"><a href="#">购物车</a></div>
			<div class="index_top_both"></div>
		</div>

		<div class="index_center">

			<!--搜索框-->
			<div class="index_center_top">&nbsp;</div>
			<form action="" method="">
				<div class="index_center_center">
					<input type="text">
				</div>
				<div class="index_center_right">
					<input type="submit" value="搜索">
				</div>
			</form>

			<!--热门搜索板块-->
			<div class="index_center_footer">
				<p><span>&nbsp;&nbsp;热门搜索:</span>
					&nbsp;&nbsp;<a href="#">连衣裙</a>&nbsp;&nbsp;<a href="#">毛衣</a>&nbsp;&nbsp;<a href="#">鞋子</a>
					&nbsp;&nbsp;<a href="#">连衣裙</a>&nbsp;&nbsp;<a href="#">毛衣</a>&nbsp;&nbsp;<a href="#">鞋子</a>
					&nbsp;&nbsp;<a href="#">连衣裙</a>&nbsp;&nbsp;<a href="#">毛衣</a>
				</p>
			</div>

		</div>