		<!--第一个轮播图下的方块-->
		<div class="index_block">

			<!--广告活动方块-->
			<div class="index_block_left"><img src="__STATIC__/images/20.jpg" class="two"></div>
			<div class="index_block_center"><img src="__STATIC__/images/01.png" class="two"></div>
			<div class="index_block_center"><img src="__STATIC__/images/02.png" class="two"></div>
			<div class="index_block_center"><img src="__STATIC__/images/03.png" class="two"></div>
			<div class="index_block_both" style="clear:both"></div>

		</div>

		<!--第一个广告条-->
		<div class="index_banner">
			<img src="__STATIC__/images/05.png" style="width:100%;height:100%">
		</div>


		<!--第一个衣服块-->
		<div class="index_dress">

			<div class="index_dress_top">衣服</div>
			<div class="index_dress_center" style="margin-right:15px">

				<!--点击ajax请求块-->
				<a href="#">上衣</a>&nbsp;&nbsp;&nbsp;<a href="#">毛衣</a>&nbsp;&nbsp;&nbsp;
				<a href="#">裤子</a>&nbsp;&nbsp;&nbsp;<a href="#">衬衫</a>

			</div>

			<div class="index_dress_bottom">

				<!--鼠标移动到div 隐藏事件的div-->

				<!--第一批1-5-->
				<div class="index_dress_bottom_left">
					<img src="__STATIC__/images/101.jpg" class="two">
					<span>
						<p style="font-size:15px;color:#ff0000;text-align:left;padding-top:18px;padding-left:5px;" >￥358.00</p>
						<p style="color:#ff0000;text-align:left;padding-left:75px;">包邮<br></p>
						<p style="padding-top:12px;text-align:left;padding-left:5px;font-size:12px;line-height:14px;
							word-wrap:break-word">
							2019新款短袖t恤女装大码T血纯棉宽松胖mm上衣百搭时尚体恤ins潮
						</p>
						<p style="padding-top:8px;text-align:left;padding-left:5px;font-size:9px;
							word-wrap:break-word">
							爱依服<a href="#" style="color:#666666;text=right;margin-left:65%">福建莆田</a>
						</p>
					</span>
				</div>
				<div class="index_dress_bottom_left">
					<img src="__STATIC__/images/102.jpg"class="two">
					<span>
						<p style="font-size:15px;color:#ff0000;text-align:left;padding-top:18px;padding-left:5px;" >￥358.00</p>
						<p style="color:#ff0000;text-align:left;padding-left:75px;">包邮<br></p>
						<p style="padding-top:12px;text-align:left;padding-left:5px;font-size:12px;line-height:14px;
							word-wrap:break-word">
							2019新款短袖t恤女装大码T血纯棉宽松胖mm上衣百搭时尚体恤ins潮
						</p>
						<p style="padding-top:8px;text-align:left;padding-left:5px;font-size:9px;
							word-wrap:break-word">
							爱依服<a href="#" style="color:#666666;text=right;margin-left:65%">福建莆田</a>
						</p>
					</span>
				</div>
				<div class="index_dress_bottom_left">
					<img src="__STATIC__/images/103.jpg"class="two">
					<span>
						<p style="font-size:15px;color:#ff0000;text-align:left;padding-top:18px;padding-left:5px;" >￥358.00</p>
						<p style="color:#ff0000;text-align:left;padding-left:75px;">包邮<br></p>
						<p style="padding-top:12px;text-align:left;padding-left:5px;font-size:12px;line-height:14px;
							word-wrap:break-word">
							2019新款短袖t恤女装大码T血纯棉宽松胖mm上衣百搭时尚体恤ins潮
						</p>
						<p style="padding-top:8px;text-align:left;padding-left:5px;font-size:9px;
							word-wrap:break-word">
							爱依服<a href="#" style="color:#666666;text=right;margin-left:65%">福建莆田</a>
						</p>
					</span>
				</div>
				<div class="index_dress_bottom_left">
					<img src="__STATIC__/images/111.jpg" class="two">
					<span>
						<p style="font-size:15px;color:#ff0000;text-align:left;padding-top:18px;padding-left:5px;" >￥358.00</p>
						<p style="color:#ff0000;text-align:left;padding-left:75px;">包邮<br></p>
						<p style="padding-top:12px;text-align:left;padding-left:5px;font-size:12px;line-height:14px;
							word-wrap:break-word">
							2019新款短袖t恤女装大码T血纯棉宽松胖mm上衣百搭时尚体恤ins潮
						</p>
						<p style="padding-top:8px;text-align:left;padding-left:5px;font-size:9px;
							word-wrap:break-word">
							爱依服<a href="#" style="color:#666666;text=right;margin-left:65%">福建莆田</a>
						</p>
					</span>
				</div>
				<div class="index_dress_bottom_left">
					<img src="__STATIC__/images/110.jpg" class="two">
					<span>
						<p style="font-size:15px;color:#ff0000;text-align:left;padding-top:18px;padding-left:5px;" >￥358.00</p>
						<p style="color:#ff0000;text-align:left;padding-left:75px;">包邮<br></p>
						<p style="padding-top:12px;text-align:left;padding-left:5px;font-size:12px;line-height:14px;
							word-wrap:break-word">
							2019新款短袖t恤女装大码T血纯棉宽松胖mm上衣百搭时尚体恤ins潮
						</p>
						<p style="padding-top:8px;text-align:left;padding-left:5px;font-size:9px;
							word-wrap:break-word">
							爱依服<a href="#" style="color:#666666;text=right;margin-left:65%">福建莆田</a>
						</p>
					</span>
				</div>


				<!--第二批6-9-->

				<div class="index_dress_bottom_left">
					<img src="__STATIC__/images/106.jpg"  class="two">
					<span>
						<p style="font-size:15px;color:#ff0000;text-align:left;padding-top:18px;padding-left:5px;" >￥358.00</p>
						<p style="color:#ff0000;text-align:left;padding-left:75px;">包邮<br></p>
						<p style="padding-top:12px;text-align:left;padding-left:5px;font-size:12px;line-height:14px;
							word-wrap:break-word">
							2019新款短袖t恤女装大码T血纯棉宽松胖mm上衣百搭时尚体恤ins潮
						</p>
						<p style="padding-top:8px;text-align:left;padding-left:5px;font-size:9px;
							word-wrap:break-word">
							爱依服<a href="#" style="color:#666666;text=right;margin-left:65%">福建莆田</a>
						</p>
					</span>
				</div>
				<div class="index_dress_bottom_left">
					<img src="__STATIC__/images/107.jpg"  class="two">
					<span>
						<p style="font-size:15px;color:#ff0000;text-align:left;padding-top:18px;padding-left:5px;" >￥358.00</p>
						<p style="color:#ff0000;text-align:left;padding-left:75px;">包邮<br></p>
						<p style="padding-top:12px;text-align:left;padding-left:5px;font-size:12px;line-height:14px;
							word-wrap:break-word">
							2019新款短袖t恤女装大码T血纯棉宽松胖mm上衣百搭时尚体恤ins潮
						</p>
						<p style="padding-top:8px;text-align:left;padding-left:5px;font-size:9px;
							word-wrap:break-word">
							爱依服<a href="#" style="color:#666666;text=right;margin-left:65%">福建莆田</a>
						</p>
					</span>
				</div>
				<div class="index_dress_bottom_left">
					<img src="__STATIC__/images/108.jpg" class="two">
					<span>
						<p style="font-size:15px;color:#ff0000;text-align:left;padding-top:18px;padding-left:5px;" >￥358.00</p>
						<p style="color:#ff0000;text-align:left;padding-left:75px;">包邮<br></p>
						<p style="padding-top:12px;text-align:left;padding-left:5px;font-size:12px;line-height:14px;
							word-wrap:break-word">
							2019新款短袖t恤女装大码T血纯棉宽松胖mm上衣百搭时尚体恤ins潮
						</p>
						<p style="padding-top:8px;text-align:left;padding-left:5px;font-size:9px;
							word-wrap:break-word">
							爱依服<a href="#" style="color:#666666;text=right;margin-left:65%">福建莆田</a>
						</p>
					</span>
				</div>
				<div class="index_dress_bottom_left">
					<img src="__STATIC__/images/109.jpg" class="two">
					<span>
						<p style="font-size:15px;color:#ff0000;text-align:left;padding-top:18px;padding-left:5px;" >￥358.00</p>
						<p style="color:#ff0000;text-align:left;padding-left:75px;">包邮<br></p>
						<p style="padding-top:12px;text-align:left;padding-left:5px;font-size:12px;line-height:14px;
							word-wrap:break-word">
							2019新款短袖t恤女装大码T血纯棉宽松胖mm上衣百搭时尚体恤ins潮
						</p>
						<p style="padding-top:8px;text-align:left;padding-left:5px;font-size:9px;
							word-wrap:break-word">
							爱依服<a href="#" style="color:#666666;text=right;margin-left:65%">福建莆田</a>
						</p>
					</span>
				</div>

				<!--查看更多div-->
				<div class="index_dress_bottom_lefts">
					<div class="index_dress_bottom_lefts_top">
						<img src="__STATIC__/images/112.jpg" class="two">
					</div>
					<div class="index_dress_bottom_lefts_bottom">
						<img src="__STATIC__/images/look.jpg" class="two">
					</div>				
				</div>

			</div>
		</div>

		
		<!--衣服板块下:广告条-->
		<div class="index_dress_banner">
			<img src="__STATIC__/images/08.png" class="two">
		</div>


		<!--搭配-->
		<div class="index_collocation">

			<div class="index_collocation_top">搭配</div>
			<div class="index_collocation_bottom">
				<div class="index_collcation_bottom_left">
					<div class="index_collcation_bottom_left_top">
						<div class="index_collcation_bottom_left_top_left">
							<img src="__STATIC__/images/300.jpg" style="width:100%;height:160px;">
						</div>
						<div class="index_collcation_bottom_left_top_right">
							<a href="#"><h2>get夏日叠穿技巧，真的一点都不热</h2></a>
							<p style="text-indent:40px;word-wrap:break-word;color:#666666;font-size:15px;margin-top:16px;height:100px;">
								炎炎夏日，我们的衣橱单品都变成简单的T恤、吊带、连身裙，基本上一两件就搞定。但是方便是方便，
								时间久了难免觉得沉闷乏味。小编今天就给大家推荐一些适合夏日叠穿的单品，并且保证一点都不热!
							</p>
							<p style="font-size:10px;color:#666666;margin-top:0px;">:&nbsp;2019-04-10</p>
						</div>
					</div>
					<div class="index_collcation_bottom_left_bottom">
						<div class="index_collcation_bottom_left_top_left">
							<img src="__STATIC__/images/301.jpg" style="width:100%;height:160px;">
						</div>
						<div class="index_collcation_bottom_left_top_right">
							<a href="#"><h2>Track pants，原来运动裤也能穿出摩登感</h2></a>
							<p style="text-indent:40px;word-wrap:break-word;color:#666666;margin-top:16px;height:100px;">
								　时尚就是这么出乎意料，谁也不会想到当年在学生时代时穿的运动裤也会被搬回到fashion的舞台上成为当下的一种潮流。
								你也许会觉得不可思议，那种宽大毫无线条感的裤子怎么就成为了时尚圈的宠儿
							</p>
							<p style="font-size:10px;color:#666666;margin-top:0px;">:&nbsp;2019-04-10</p>
						</div>
					</div>
				</div>
				<div class="index_collcation_bottom_right">
					<div class="index_collcation_bottom_right_top"><span style="color:#000000;">：</span>今日推荐</div>
					<div class="index_collcation_bottom_right_bottom">
						<div class="index_collcation_bottom_right_bottom_top">
							<div class="index_collcation_bottom_right_bottom_top_left">
								<img src="__STATIC__/images/302.jpg" style="width:100%;height:70px;">
							</div>
							<div class="index_collcation_bottom_right_bottom_top_right">
								<a href="#"><h4>买买买大指南，时髦入夏就靠这些装备了！</h4></a>
								<p style="font-size:10px;color:#666666;margin-top:10px;">2019-04-10</p>
							</div>
						</div>
						<div class="index_collcation_bottom_right_bottom_top">
							<div class="index_collcation_bottom_right_bottom_top_left">
								<img src="__STATIC__/images/303.jpg" style="width:100%;height:70px;">
							</div>
							<div class="index_collcation_bottom_right_bottom_top_right">
								<a href="#"><h4>最基础的帆布鞋要这么穿！才能解救你的“精致癌”</h4></a>
								<p style="font-size:10px;color:#666666;margin-top:10px;">2019-04-10</p>
							</div>
						</div>
					</div>
					<div class="index_collcation_bottom_right_bottom">
						<div class="index_collcation_bottom_right_bottom_top">
							<div class="index_collcation_bottom_right_bottom_top_left">
								<img src="__STATIC__/images/304.jpg" style="width:100%;height:70px;">
							</div>
							<div class="index_collcation_bottom_right_bottom_top_right">
								<a href="#"><h4>热浪无边 你还少一件点亮自拍的印花衬衫</h4></a>
								<p style="font-size:10px;color:#666666;margin-top:10px;">2019-04-10</p>
							</div>
						</div>
						<div class="index_collcation_bottom_right_bottom_top">
							<div class="index_collcation_bottom_right_bottom_top_left">
								<img src="__STATIC__/images/305.jpg" style="width:100%;height:70px;">
							</div>
							<div class="index_collcation_bottom_right_bottom_top_right">
								<a href="#"><h4>健身也要时髦到飞起 ，美美地和肉肉Say Byebye ！</h4></a>
								<p style="font-size:10px;color:#666666;margin-top:10px;">2019-04-10</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!--搭配板块下:广告条-->
		<div class="index_collocation_banner">
			<img src="__STATIC__/images/07.png" style="width:100%;height:100%">
		</div>

		<!--鞋子板块-->
		<div class="index_shoes">

			<div class="index_shoes_top">鞋子</div>

			<div class="index_shoes_bottom">
			       <div class="index_shoes_left">
						<img src="__STATIC__/images/306.jpg" style="width:100%;height:250px;">
					   	<p style="text-align:center;margin-top:10px;margin-left:-10px;">
							<a href="#">AIR JORDAN XXXIII SE PF</a>
						</p>
					   	<p style="text-align:center;margin-top:10px;margin-left:-15px;color:#ff0000">￥219</p>
			       </div>
					<div class="index_shoes_left">
						<img src="__STATIC__/images/307.jpg" style="width:100%;height:250px;">
						<p style="text-align:center;margin-top:10px;margin-left:-10px;">
							<a href="#">库里网布透气5代战靴</a>
						</p>
						<p style="text-align:center;margin-top:10px;margin-left:-15px;color:#ff0000">￥199</p>
					</div>
					<div class="index_shoes_left">
						<img src="__STATIC__/images/308.jpg" style="width:100%;height:250px;">
						<p style="text-align:center;margin-top:10px;margin-left:-10px;">
							<a href="#">保罗乔治3代黑白雷霆</a>
						</p>
						<p style="text-align:center;margin-top:10px;margin-left:-15px;color:#ff0000">￥219</p>
					</div>
					<div class="index_shoes_left">
						<img src="__STATIC__/images/309.jpg" style="width:100%;height:250px;">
						<p style="text-align:center;margin-top:10px;margin-left:-10px;">
							<a href="#">耐克官方 KYRIE 5 EP</a>
						</p>
						<p style="text-align:center;margin-top:10px;margin-left:-15px;color:#ff0000">￥189</p>
					</div>
			</div>
			<div class="index_shoes_bottoms">

				<div class="index_shoes_bottoms_left"><a href="#">1</a></div>
				<div class="index_shoes_bottoms_left"><a href="#">2</a></div>
				<div class="index_shoes_bottoms_left"><a href="#">3</a></div>
			</div>
		</div>
