		<div class="index_chart">

			<!--导航选项-->
			<div class="index_chart_left">
				<div class="index_chart_left_top">
					<ul>
						<li><a href="#">潮流短袖</a></li>
						<li><a href="#">潮流卫衣</a></li>
						<li><a href="#">街头潮牌</a></li>
						<li><a href="#">时尚休闲</a></li>
						<li><a href="#">明星同款</a></li>
						<li><a href="#">当季流行</a></li>
					</ul>
				</div>
			</div>

			<!--轮播图-->
			<div class="index_chart_right">
				<div class="banner">
				     <ul id="banner_pic" class="banner_pic">
					<li class="current"><img src="__STATIC__/images/02.jpg" class="one"></li>
					<li class="pic"><img src="__STATIC__/images/01.jpg" class="one"></li>
					<li class="pic"><img src="__STATIC__/images/03.jpg" class="one"></li>
					<li class="pic"><img src="__STATIC__/images/05.jpg" class="one"></li>
					<li class="pic"><img src="__STATIC__/images/04.jpg" class="one"></li>
				    </ul>
				    <ol id="button">
					<li class="current"></li>
					<li class="but"></li>
					<li class="but"></li>
					<li class="but"></li>
					<li class="but"></li>
				    </ol>
			     </div>
			</div>

		</div>