<!doctype html>
<html lang="en">
 <head>
  <meta charset="UTF-8">
{include file="common/title" /}
  <title>Document</title>
	 <link rel="stylesheet" href="__STATIC__/css/forgetPasswordFile.css" type="text/css" />
 <style type="text/css"></style>
 </head>
 <body>
    <div class="reg">
		<div class="reg_top">
			<img src="__STATIC__/images/white_logo.png" style="width:120px;height:90px;margin-left:9.5%;margin-top:0.8%;">
		</div>
		<div class="reg_center">
			<div class="reg_form">
				<div class="reg_form_top"><p style="font-size:16px;">找回密码</p></div>
				<div class="reg_form_center">
					<form action="ChangePassword" method="POST" onsubmit="return checkThis()">
						<table>
							<tr><td><input type="hidden" name="email" value='{$email}'></td></tr>
							<tr><td><input type="text" name="username" id="username" value='{$username}' disabled="true"></td></tr>
							<tr><td style="color:#ff0000;font-size:8px" id="warning">&nbsp;</td></tr>
							<tr><td><input type="password" name="password" id="password" placeholder="新密码" onblur="checkPsw1()"></td></tr>
							<tr><td style="color:#ff0000;font-size:8px;">&nbsp;<span id="t2">*不足六位</span></td></tr>
							<tr><td><input type="password" name="passwords" id="passwords" placeholder="确认密码" onblur="checkPsw2()"></td></tr>
							<tr><td style="color:#ff0000;font-size:8px">&nbsp;<span id="t3">*与密码不符</span></td></tr>
							<tr><td><input type="submit" id="submit" value="更 改"></td></tr>
						</table>
					</form>
				</div>
			</div>
		</div>
		<!--版权-->
		{include file="common/footer" /}
  </div>
 </body>
 <script>
		function checkPsw1(){
			if(document.forms[0].password.value.length<6){
				document.getElementById("t2").style.display="inline";
				return false;
			}else{
				document.getElementById("t2").style.display="none";
				return true;
			}
		}
		function checkPsw2(){
			if((document.forms[0].passwords.value!=document.forms[0].password.value) || (document.forms[0].passwords.value.length<6)){
				document.getElementById("t3").style.display="inline";
				return false;
			}else{
				document.getElementById("t3").style.display="none";
				return true;
			}
		}
		function checkThis(){
			var c2=checkPsw1();
			var c3=checkPsw2();

			return  c2 && c3 ;
		}
 </script>
</html>